div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: none;
}
.form-task{
    width: 100%;
    align-self: center;
    background-color: none;
    margin: 1em;
    justify-content: center;
    height: 50px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
/*     gap: 16px; */
}

.form-task input {
    width: 100%;
    height: 100%;
    border: none;
    color: whitesmoke;
    background: none;
    padding-top: 20px;
    outline: 0px;
}

.form-task .lebel-name{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid whitesmoke;
}

.form-task .lebel-name:after{
    content: '';
    position: absolute;
    left:0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid whitesmoke;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}

.text-name{
    position: absolute;
    bottom:5px;
    left: 0;
    transition: all 0.3s ease;
    color: whitesmoke;
}

.form-task input:focus + .lebel-name .text-name, .form-task input:valid + .lebel-name .text-name{
    transform: translateY(-150%);
    font-size: 14px;
    color: whitesmoke;
}